{% extends "base.html" %}
{% block menu_notice %}
active
{% endblock %}
{% block content %}
<div class="ui grid">
  <div class="row">
    <div class="thirteen wide column">
      <div class="ui segment blue">
	<h5 class="ui dividing header"> <i class="announcement icon"></i> Notice &raquo; {% if not object.pk %} Add New {% else %} Update Notice #{{ object.pk }} {% endif %}</h5>
	{% if form.errors %}
	{% for error in form.errors %}
	<div class="ui error message">{{ error.title }} is missing </div>
	{% endfor %}
	{% endif %}
	{% if messages %}
	  {% for message in messages %}
	  <div {% if message.tags %} class="ui message {{ message.tags }}"{% endif %}>{{ message }}</div>
	  {% endfor %}
	{% endif %}
	  
	<form method="post" action="">
	  {% csrf_token %}
	  <script type="text/javascript">
    	    $(document).ready(function(){
		$('select').dropdown() ; 
	    });
	  </script>
	  <div class="ui form">
	    <div class="two fields">
	      
	      <div class="field">
		<label>Title</label>
		{{ form.title }}
	      </div>
	      <div class="field">
		<label>To / Receiver</label>
		<div class="ui selection fluid">
		  {{ form.receiver }}
		</div>
		
	      </div>
	    </div>
	    <div class="field">
	      <label>Message</label>
	      {{ form.body }}
	      
	    </div>
	    <div class="field">
	      <button type="submit" class="ui small button blue"><i class="icon plus"></i> Add Notice</button>	      
	    </div>
	  </div>
	</form>
      </div>
    </div>
    <div class="three wide column">
      <div class="ui vertical blue menu fluid">
	<a class="item header">Notices Filter  </a>
	<a class="item" href="/notices/"><i class="Announcement icon"></i> All Notices</a>
	<a class="item" href="/notices/E4/"><i class="Announcement icon"></i> E4 </a>
	<a class="item" href="/notices/E3/"><i class="Announcement icon"></i> E3 </a>
	<a class="item" href="/notices/E2/"><i class="Announcement icon"></i> E2 </a>
	<a class="item header">Options  </a>
	<a class="item {% if not object.pk %}active{% endif %}" href="/notices/add/"><i class="plus icon"></i> Add Notice</a>
	{% if object.pk %}
	<a class="item active" href="/notices/{{ object.pk }}/update"><i class="edit icon"></i> Update</a>
	<a class="item " href="/notices/{{ object.pk }}/delete"><i class="trash icon"></i> Delete</a>
	{% endif %}

	
      </div>
    </div>
    
  </div>
</div>

{% endblock %}
