{% extends "base.html" %}
{% block menu_notice %}
active
{% endblock %}
{% block content %}

<div class="ui grid">
  <div class="row">
    <div class="thirteen wide column">
      {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %} class="ui message {{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
      {% endif %}
      
      <div class="ui segment blue">
	<h5 class="ui dividing header"> <i class="announcement icon"></i> Notice &raquo; {{ object.title }}</h5>
	<p style="min-height:92px;"> <b> Message : </b> &nbsp; {{ object.body }}</p>
	{% if object.attachment  %}
	<div class="ui button blue"><a href="{{ MEDIA_URL }}{{ object.attachment }}" style="color:white;"><i class="icon download"></i> Attachment </a></div><br><br>
	{% endif %}
	<span style="font-size:12px;"> Sent by <i><b>{{ object.sender }}</b></i> to <b><i>{{ object.receiver }} Students</i></b> at <i>{{ object.sentat}}</i> </span>
      </div>
    </div>
    <div class="three wide column">
      <div class="ui vertical blue menu fluid">
	<a class="item header">Notices Filter </a>
	<a class="item" href="/notices/"><i class="Announcement icon"></i> All Notices</a>
	<a class="item" href="/notices/E4/"><i class="Announcement icon"></i> E4 </a>
	<a class="item" href="/notices/E3/"><i class="Announcement icon"></i> E3 </a>
	<a class="item" href="/notices/E2/"><i class="Announcement icon"></i> E2 </a>
	<a class="item header">Options  </a>
	<a class="item" href="/notices/add/"><i class="plus icon"></i> Add Notice</a>
	<a class="item" href="/notices/{{ object.pk }}/update"><i class="edit icon"></i> Update</a>
	<a class="red item" href="/notices/{{ object.pk }}/delete"><i class="trash icon"></i> Delete</a>
	
      </div>
    </div>
    
  </div>
</div>


{% endblock %}
