{% extends "base.html" %}
{% block menu_depts %}{% endblock %}
{% block title %}
All Departments
{% endblock %}
{% block content %}
<div class="ui segment blue" style="padding:2%;min-height:200px;">
  <h5 class="ui header"> All Departments</h5>
  <div class="ui five cards">
    {% for dept in dept_names %}
    <div class="card">
      <div class="ui top attached label">{{ dept.0}}</div>
      <div class="content">
	<h5 class="ui header">{{ dept.1}}</h5><br>
	<center><a href="/depts/{{dept.0}}" class="ui bottom right attached label button mini">Explore</a></center>
      </div>
    </div>
    {% endfor %}
  </div>
	
</div>
{% endblock %}
