{% extends "base.html" %}
{% block title %}
{{ object.rid }}'s Profile
{% endblock %}
{% block content %}
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui afix segment blue">
	
	<center><img src="/media/{{ object.profile.profile_pic }}" class="ui rounded small image"></center>
	
	<div class="ui divided list">
	  <div class="item">
	    <i class="icon {{object.get_gender_display}}"></i>
	    <div class="content">
	      {{ object.get_full_name }}
	    </div>
	  </div>
	  <div class="item">
	    <i class="icon calendar"></i>
	    <div class="content">
	      Born on {{ object.date_of_birth }}
	    </div>
	  </div>
	</div>
	<div class="ui ribbon label">University Info</div>
	<div class="ui divided list">
	  
	  <div class="item">
	    <i class="icon user"></i>
	    <div class="content">
	       Id : {{ object.rid }}
	    </div>
	  </div>
	  <div class="item">
	    <i class="icon University "></i>
	    <div class="content">
	      Department of  {{ object.get_dept_display }}
	    </div>
	  </div>
	  <div class="item">
	    <i class="calendar icon"></i>
	    <div class="content">
	      Joined in {{ object.year }}
	    </div>
	  </div>
	  <div class="item">
	    <i class=" icon Student"></i>
	    <div class="content">
	      {{ object.get_batch_display }}
	    </div>
	  </div>
	</div>
	<div class="ui ribbon label">Contact Info</div>
	<div class="ui divided list">
	  <div class="item">
	    <i class="mail icon"></i>
	    <div class="content">
	      <a href="mailto:{%if object.profile.email %}{{ object.profile.email }} {% else %} # {% endif%}"> {%if object.profile.email %}{{ object.profile.email }} {% else %} None {% endif%}</a>
	    </div>
	  </div>
	    
	  <div class="item">
	    <i class="call icon"></i>
	    <div class="content">
	     {{ object.profile.mobile }}
	    </div>
	  </div>

	  <div class="item">
	    <i class="External Link icon"></i>
	    <div class="content">
	      <a href="{%if object.profile.url %}{{ object.profile.url }} {% else %} # {% endif%}"> {{ object.profile.url }}</a>
	    </div>
	  </div>
	  
	</div>
	{% ifequal object.rid user.rid %} <a class="ui mini button blue attached" href="#edit"> Edit Profile</a>{% endifequal %}		
      </div>
     

    </div>
    <div class="twelve wide column">
      <div class="ui grid">

	<div class="sixteen wide column">
	  <div class="ui segment">
	    <div class="ui top attached label">Summary</div>
	    <div class="content">
	      {{ object.profile.summary }}
	    </div>
	  </div>
	</div>

	<div class="sixteen wide column">
	  <div class="ui segment">
	    <div class="ui top attached label">Education</div>
	    <div class="content">
	      {% if education.count %}
	      <table class="ui very basic table compact" width="100%">
		<thead>
		  <tr>
		    <th class="center aligned">Period</th>
		    <th class="center aligned">School / College / University</th>
		    <th class="center aligned">Degree</th>
		    <th class="center aligned">Area of Study</th>
		    <th class="center aligned">Percentage</th>
		  </tr>
		</thead>
		<tbody>
		  {% for edu in education  %}
		  <tr>
		    <td class="center aligned" width="5%">{{ edu.period }}</td>
		    <td style="padding-left:1%">{{ edu.school }}</td>
		    <td class="center aligned" width="20%">{{ edu.degree }}</td>
		    <td class="center aligned" width="20%">{{ edu.stream }}</td>
		    <td class="center aligned" width="5%">{{ edu.grade }}</td>		   
		  </tr>
		  {% endfor %}
		</tbody>
	      </table>
	      {% else %}
	      No Educational Information provided
	      {% endif %}
	    </div>
	  </div>
	</div>

	<div class="sixteen wide column">
	  <div class="ui segment">
	    <div class="ui top attached label">Experiences</div>
	    <div class="content">
	      {% if experience.count %}
	      <div class="ui feed">
	      {% for exp in experience  %}
	      <div class="event">
		<div class="label">
		    <i class="icon flag"></i>
		</div>
		<div class="content">
		  <div class="summary">
		    {{ exp.title }} 
		    <div class="date">
		      {{ exp.period }}
		    </div>
		  </div>
		  <div class="extra text">
		    {{ exp.description }}
		  </div>
		  <div class="meta">
		    @ {{ exp.organization }} - {{ exp.location }}
		  </div>
		</div>
	      </div>
	      {% endfor %}
	      </div>
	      {% else %}
	      No Experiences Information provided
	      {% endif %}
	    </div>
	  </div>
	</div>

	<div class="sixteen wide column">
	  <div class="ui segment">
	    <div class="ui top attached label">Positons & Designations</div>
	    <div class="content">
	      {% if object.profile.roles.all %}
	      {% for item in object.profile.roles.all %}
	      <span class="ui label green">{{ item }}</span>
	      {% endfor%}
	      {% else %}
	      No roles assigned
	      {% endif%}
	    </div>
	  </div>
	</div>

	<div class="sixteen wide column">
	  <div class="ui segment">
	    <div class="ui top attached label">Interested Areas of Study</div>
	    <div class="content">
	      {% if object.profile.areas.all %}
	      {% for item in object.profile.areas.all %}
	      <span class="ui label red">{{ item }}</span>
	      {% endfor%}
	      {% else %}
	      No Interested areas specified
	      {% endif%}	      
	    </div>
	  </div>
	</div>
	
	<div class="sixteen wide column">
	  <div class="ui segment">
	    <div class="ui top attached label">Technical Skills</div>
	    <div class="content">
	      {% if object.profile.skills.all %}
	      {% for item in object.profile.skills.all %}
	      <span class="ui label blue">{{ item }}</span>  
	      {% endfor%}
	      {% else %}
	      No Skills specified
	      {% endif%}	      
	    </div>
	  </div>
	</div>

	<div class="sixteen wide column">
	  <div class="ui segment">
	    <div class="ui top attached label">Achievements</div>
	    <div class="content">
	      Some achievements of the user #1, #2
	    </div>
	  </div>
	</div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
