{% extends "oauth2_provider/base.html" %}
{% block edit_title %} All Applications {% endblock %}
{% block edit_title1 %} All Applications {% endblock %}
{% block edit_icon %} Cubes {% endblock %}
{% block dev_apps %} active {% endblock %}
{% load i18n %}
{% load url from future %}
{% block edit_body %}
    <div class="block-center">
        {% if applications %}
            <div class="ui four cards">
                {% for application in applications %}
		  <div class="card">
		    <div class="content">
		      <a class="header" href="{{ application.get_absolute_url }}">{{ application.name }}</a>
		    </div>
		  </div>
                {% endfor %}
            </div>
		<br>
            <a class="ui button green tiny" href="{% url "oauth2_provider:register" %}"><i class="icon plus"></i> New Application</a>
        {% else %}
            <p>{% trans "No applications defined" %}. <a href="{% url 'oauth2_provider:register' %}">{% trans "Click here" %}</a> {% trans "if you want to register a new one" %}</p>
        {% endif %}
    </div>
{% endblock %}
