{% extends "oauth2_provider/base.html" %}
{% block edit_title %} Edit application # ({{ application.name }}) {% endblock %}
{% block edit_title1 %} Edit application # ({{ application.name }}) {% endblock %}
{% block edit_icon %} Cubes {% endblock %}
{% block dev_apps %} active {% endblock %}
{% load i18n %}
{% load url from future %}
{% block edit_body %}

{% if form.errors %}
{% for error in form.errors %}
<div class="ui error message"> <i class="close icon"></i> {{ error.title }} is missing </div>
{% endfor %}
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="ui error message"> <i class="close icon"></i> {{ error.title }} is missing </div>
{% endfor %}
{% endif %}
    <div class="block-center">
        <form class="form-horizontal" method="post" action="{% block app-form-action-url %}{% url 'oauth2_provider:update' application.id %}{% endblock app-form-action-url %}">
            {% csrf_token %}
	  <script type="text/javascript">
	    $(document).ready(function(){
		$('select').dropdown() ; 
	    });
	  </script>
	  <div class="ui form">
	    
            {% for field in form %}
		{% ifequal field.label "Client type" %}
		<div class="two fields">
		{% endifequal %}
		<div class="field">
                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
		    {% if field.label == "Client id" or field.label == "Client secret" %}
			<input type="text" name="{% ifequal field.label 'Client id' %}client_id{% else %}client_secret{% endifequal %}" readonly value="{{field.value}}">
		    {% else %}
                    {{ field }}
		    {% endif %}
		</div>
		{% ifequal field.label "Authorization grant type" %}
		</div>
		{% endifequal %}
            {% endfor %}

           

            <div class="control-group">
                <div class="controls">
                    <a class="ui button blue mini" href="{% block app-form-back-url %}{% url "oauth2_provider:detail" application.id %}{% endblock app-form-back-url %}">
                        {% trans "Go Back" %}
                    </a>
                    <button type="submit" class="ui button green tiny">Save</button>
                </div>
            </div>
	</div>
        </form>
    </div>
{% endblock %}
