{% extends "users/edit/base.html" %}
{% block edit_title %} Interested Areas {% endblock %}
{% block edit_title1 %} Interested Areas {% endblock %}
{% block edit_icon %} tags {% endblock %}
{% block areas %} active {% endblock %}
{% block edit_body %}
<script type="text/javascript">
$(document).ready(function(){
	$('select').dropdown();
});
</script>
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="ui form">
    
    <div class="field">
      	{% if user.profile.areas.all %}
	{% for item in user.profile.areas.all %}
	<span class="ui label teal">{{ item }}</span>
	{% endfor%}
	{% else %}
	No Interested areas specified 
	{% endif%}
    </div>
    <div class="field">
      <label>Mark your technical skills </label>
      {{ form.areas }}
    </div>
    <div class="field">
      <button type="submit" class="ui mini button blue"><i class="icon Check"> </i>Update Areas </button>
      <a class="ui button green mini" style="float:right;" href="add"> <i class="icon plus"></i> Add Area </a>
    </div>
  </div>
</form>

{% endblock %}
