{% extends "base.html" %}
{% block title %}
{{ user.rid }}'s Profile &raquo; Edit &raquo; {% block edit_title %} {% endblock %}
{% endblock %}
{% block content %}
<div class="ui grid">
  <div class="row">
    <div class="thirteen wide column">
      <script>
    	$(document).ready(function(){
	    $('.message .close').on('click', function() {
		$(this).closest('.message').fadeOut();
	    });
	});
    	
      </script>
      {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %} class="ui message {{ message.tags }}"{% endif %}><i class="close icon"></i>{{ message }}</div>
      {% endfor %}
      {% endif %}
      <div class="ui blue segment " style="padding:2%;min-height:337px;">
	<h5 class="ui header dividing "><i class="icon {% block edit_icon %}{% endblock %} "></i>Edit Profile &raquo; {% block edit_title1 %}{% endblock %}</h5>
	{% if form.errors %}
	{% for error in form.errors %}
	<div class="ui error message"> <i class="close icon"></i> {{ error.title }} is missing </div>
	{% endfor %}
	{% endif %}
	{% block edit_body %}
	{% endblock %}
      </div>
    </div>

    <div class="three wide column">
      <div class="ui vertical blue menu fluid">
	<a class="item header"><i class="icon edit"></i> Edit Profile</a>
	<a class="item {% block contact_info %}{% endblock %}" href="/users/{{ user.rid }}/edit/contact_info/"><i class="icon Mobile "></i> Contact Info </a>
	<a class="item {% block profile_pic %}{% endblock %}" href="/users/{{ user.rid }}/edit/profile_pic/"><i class="icon photo "></i> Profile Pic </a>
	<a class="item {% block education  %}{% endblock %}" href="/users/{{ user.rid }}/edit/education/"><i class="icon University "></i> Education  </a>
	<a class="item {% block exp %}{% endblock %}"><i class="icon flag"></i> Experiences </a>
	<a class="item {% block roles %}{% endblock %}"><i class="icon road"></i> Position & Roles </a>
	<a class="item {% block areas %}{% endblock %}"><i class="icon tags"></i> Interested Areas </a>
	<a class="item {% block tech %}{% endblock %}"><i class="icon tree"></i> Technical Skills </a>
	<a class="item {% block achv %}{% endblock %}"><i class="icon flag"></i> Achievements </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
