{% extends "users/edit/base.html" %}
{% block edit_title %} Profile Pic {% endblock %}
{% block edit_title1 %} Profile Pic {% endblock %}
{% block edit_icon %} photo {% endblock %}
{% block profile_pic %} active {% endblock %}
{% block edit_body %}
<div class="ui grid">
  <div class="row">
    <div class="four wide column " style="padding:2%;">
      <img src="/media/{{ user.profile.profile_pic }}" class="ui image medium bordered">
    </div>
    <div class="eleven wide column" >
      <h5> Upload New one</h5>
    </div>
    
  </div>
</div>
{% endblock %}
