{% extends "users/edit/base.html" %}
{% block edit_title %} Position & Roles &raquo; Role &raquo; Add {% endblock %}
{% block edit_title1 %} Position & Roles &raquo; Role &raquo; Add {% endblock %}
{% block edit_icon %} road {% endblock %}
{% block roles %} active {% endblock %}
{% block edit_body %}
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="ui form">
    
    <div class="field">
      <label> Role  Title </label>
      {{ form.title }}
    </div>
    <div class="field">
      <label> Role Permissions </label>
      {% for radio in form.permissions %}
	<div class="ui checkbox">{{ radio.tag }} <label>{{ radio.choice_label}} </label></div>&emsp; 
      {% endfor %}
     
    </div>

    <div class="field">
      <button type="submit" class="ui mini button green"><i class="icon plus"> </i>New Position & Role  </button>
      <a class="ui button blue mini" style="float:right;" href="/users/{{ user.rid }}/edit/roles/add" > <i class="icon undo"></i> Add Position & Roles </a>
      <a class="ui button cyan mini" style="float:right;" href="/users/{{ user.rid }}/edit/roles/add/new_role_permission/" > <i class="icon plus"></i> Add Role Permissions </a>	      
    </div>
  </div>
</form>

{% endblock %}
