{% extends "auth/settings/base.html" %}
{% block edit_title %} Change Password {% endblock %}
{% block edit_title1 %} Change Password {% endblock %}
{% block edit_icon %} key {% endblock %}
{% block change_password %} active {% endblock %}
{% block edit_body %}
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="ui form">
   
    <div class="field">
      <label>Old Password </label>
      {{ form.old_password }}
    </div>
    <div class="field">
      <label>New Password </label>
      {{ form.new_password1 }}
    </div>
    <div class="field">
      <label>Confirm Password </label>
      {{ form.new_password2 }}
    </div>
    <div class="field">
      <button type="submit" class="ui tiny button blue"><i class="icon Check"> </i>Update Password  </button>	      
    </div>
  </div>
</form>

{% endblock %}
