<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <title>Online Portal &raquo; Login </title>
    
    <link href="/static/assets/semantic.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/app.css" rel="stylesheet" type="text/css">
  </head>
  <body class="body_layout">
    
    <div class="ui grid" style="padding-top:10%;">
      
      <div class="row">
	<div class="five wide column"></div>
	<div class="five wide column">
	  
	  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
	    <div class="ui small form segment piled  blue">
	      {% if form.errors %}
	      <center><span class="ui red fluid message" style="padding-top:10px; padding-bottom:-10px;">Invalid Username / Password </span></center>
	      {% endif %}
	      {% csrf_token %}
	      <div class="ui blue dividing header"><i class="sign in icon"></i><div class="content">Login</div></div>
	      <div class="field">
		<label>Username</label>
		<input placeholder="Username" name="username" type="text">
	      </div>
	      <div class="field">
		<label>Password</label>
		<input placeholder="password" name="password" type="password">
	      </div>
	      <input type="hidden" name="next" value="{{ next }}" />
	      <button class="blue fluid ui button small" type="submit"><i class="angle double right icon"></i> Continue to Online Portal</button>
	      <br>
	      <div class="field">
		<lable>	<a href="#" class="text blue" style="font-size:11px; float:right;"><i class="question icon"></i> Lost Password</a></label>
	      </div>
              <br>
	    </div>
	  </form>
	</div>
	<div class="five wide column"></div>
      </div>
    </div>
    
    
    
  </body>
</html>
