{% extends "base.html" %}
{% block title %} Department of {{ dept_full_name }}{% endblock %}
{% block content %}
<div class="ui grid">
  <div class="row">
    <div class="thirteen wide column">
      <div class="ui segment blue" style="padding:2%;min-height:200px;">
	
	<h5 class="ui dividing header"><i class="icon University"> </i>Department of {{ dept_full_name }} &raquo; {{ batch_full_name}} </h5>
	{% if object_list.count %}
	<div class="ui four cards">
	{% for userobj in object_list  %}
	<!--<div class="ui four cards">-->
	  <div class="card">
	    <!--<img class="ui avatar image" src="/media/{{ userobj.profile.profile_pic }}">-->
	    <div class="content">
	      <a class="header" href="/users/{{userobj.rid}}">{{ userobj.get_full_name}}</a>
	      <div class="description">@ {{ userobj.rid}}, {{ userobj.batch}}</div>
	    </div>
	  </div>
	<!--</div>-->
	{% endfor %}
	</div>
	<!--<a class="ui blue tag label" style="float:right">Page 10</a>-->
	{% if is_paginated %}
	<br>
	<div class="ui pagination menu" style="float:left">
	  {% if page_obj.has_previous %}
	  <a class="item" href="?page={{ page_obj.previous_page_number}}"> <i class="left arrow icon"></i></a>
	  {% endif %}
	  <a class="item">Page {{ page_obj.number }} of {{ paginator.num_pages }}</a>
	  {% if page_obj.has_next %}
	  <a class="item" href="?page={{ page_obj.next_page_number}}"> <i class="right arrow icon"></i> </a>
	  {% endif %}
	</div>
	{% endif %}
	
	{% else %}
	<div class="ui ignored warning message">
	  No Users to display
	</div>
	{% endif %}
      </div>
    </div>
    <div class="three wide column">
      <div class="ui vertical blue menu fluid">
	
	<a class="item header"><i class="icon user"></i> Users Filter </a>
	<a class="item {% if not batch_code %}active{% endif %}" href="/depts/{{ dept_code }}">All Users</a>
	{% for batch in batch_tuple %}
	{% if batch.0.2 %}
	<a class="item {% if batch_code %}{% ifequal batch.0.0 batch_code  %}active{% endifequal%}{% endif %}" href="/depts/{{ dept_code }}/{{batch.0.0}}">{{ batch.0.1}}</a>
	{% endif %}
	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock%}
